 @import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: rgb(37, 37, 37); */
    color: white;
    min-height: 100vh;
    font-family: 'Courier New';
}

header{
    width: 100%;
    background-color: rgb(128, 54, 248);
    padding: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-around;
}


header h1{
    font-family: 'Rubik Doodle Shadow';
    color: rgb(255, 255, 255);
}

.nav-list{
    display: flex;
    gap: 30px;
    list-style: none;
    color: black;
}

.nav-list li{
    display: inline;
    text-transform: uppercase;
    font-size: medium;
    font-weight: 500;
    transition: all 0.1s ease 0.1s;
    cursor: pointer;
}

.nav-list li:hover{
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.bars{
    padding: 5px;
    border: none;
    font-family: 'Courier New';
    font-weight: bold;
    background: transparent;
    color: white;
    display: none;
    transition: all 0.1s ease 0.1s;
}

.bars:hover{
    border: 2px solid;
    border-radius: 10px;
}

footer{
    width: 100%;
    background-color: rgb(128, 54, 248);
    position: absolute;
    bottom: 0px;
}

footer .info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer > .info > .block {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 10px;
    padding: 30px 20px;
    max-width: 800px;
}

footer .info .block h1{
    font-family: 'Rubik Doodle Shadow';
}

footer > .intro{
    width: 100%;
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: white;
    text-transform: uppercase;
}

@media (max-width: 750px){
    .nav button{
        display: block;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        margin: auto;
        gap: 15px;
        align-items: center;
        border-radius: 10px;
        background-color: rgb(128, 54, 248);
        padding: 10px 20px;
        display: none;
    }
}